@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    
    
    <h1>@tasks.size() task(s)</h1>
    
    <ul id ="addtask">
    
        @for(task <- tasks) {
            <li "@task.getId">
            	
                @task.getLabel (Priorité: @task.getPriority)
                
                @form(routes.Application.deleteTask(task.getId)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new task</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label") ) 
        @inputText(taskForm("priority"))<p>minimum value:0</p>
		
        <input id="toto" type="submit" value="Create" class="btn btn-primary">   
    }
    
}
    <script>
    $(document).ready(function(){
   		$("#toto").click(function(e){
   			e.preventDefault();
   			console.log('http://'+$(location).attr('host')+'/taskAjax');
   			var la = $("#label").val();
   			var pr = $("#priority").val();
   			console.log(la);
   			console.log(pr);
   			var j
   			$.ajax({
   				url:'@routes.Application.newTaskAjax()', 
   				data:JSON.stringify({"label": la,"priority": pr}), 
   				type: "POST", 
   				contentType:"application/json",
   				success: function(data, status){
   					
   							var id = data.id;
      					   var label=data.label;
      					   var priority = data.priority
      					   
      					   $('#addtask').append("<li>"+label+" (Priorité: "+priority+")<form method='POST' action='http://"+$(location).attr('host')+"/tasks/"+id+"/delete'><input type='submit' value='Delete'></form></li>");
      					   
    					}
   				
			});
   		});
   	    });
    </script>
  
